body {
  background-color: #ffffff;
}
.text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #2e6bd3;
  text-align: center;
}
.list {
  text-align: left;
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Div_P {
  margin-top: 50px;
}
.divsito {
  width: 850px;
  height: 850px;
  display: inline-block;
}
.img {
  width: 100%;
  height: 100%;
  display: inline;
}
